---
import Layout from '@layouts/BaseLayout.astro';
import Diagrams from '@components/Diagrams.astro';
import Versioning from '@components/Versioning.astro';
import Tags from '@components/Tags.astro';
import Formats from '@components/Formats.astro';
import ShowCorrection from '@components/ShowCorrection.astro';
import TOC from '@components/TOC.astro';

import type { MarkdownLayoutProps } from 'astro';
type Props = MarkdownLayoutProps<{
	// Define frontmatter props here
	title: string;
	date: string;
	created: string;
	lastModified: string;
	checked: string;
  tags: string[];
	extra: string[];
}>;

const { frontmatter, url } = Astro.props;
---

<Layout title={frontmatter.title} url={url}>
	<h1 id="title">{frontmatter.title}
	  <a tabindex="-1" class="add-bookmark" href="#">
		  <span class="icon icon-link"></span>
	  </a>
  </h1>
	<div id="course-header">
		<Versioning date={frontmatter.date} created={frontmatter.created} modified={frontmatter.lastModified} checkedDate={frontmatter.checked} />
		<Formats url={url} />
		<ShowCorrection />
		<Tags tags={ frontmatter.tags } />
		<TOC />
		<slot name="end-header">
	</div>
	<div id="course">
	  <slot />
	</div>
	<slot name="after-course" />
	<Diagrams
		math={ frontmatter.extra?.includes('math') }
		mermaid={ frontmatter.extra?.includes('mermaid') }
	/>
</Layout>

<style>
#course {
	display: grid;
	grid-template-areas:
		'content toc';
	padding: 10px;

	& > #course-content {
		grid-area: content;
		margin: 30px;
		max-width: 80%; /* TODO */
	}

	& > #course-header {
		font-size: x-small;
		background-color: var(--background2);
		grid-area: toc;
		padding : min(20px, 10%);
		/* TODO : always visible */
		/* position: sticky; */
		/* top: 0; */
		/* height: 100vh; */
		/* box-sizing: border-box; */
		/* padding-top: 20px; */
		/* padding-bottom: 20px; */
		/* border-left: 1px solid var(--hr); */
	}
}

@media only screen and (max-width: 800px) {
	#course-header, #toc-caret-hide, #toc-caret-show { display: none ; }
}

</style>
