---
import BaseLayout from '../layouts/BaseLayout.astro'

import type { MarkdownLayoutProps } from 'astro';
type Props = MarkdownLayoutProps<{
	// Define frontmatter props here
	title: string;
	date: string;
	updated: string;
	checked: string;
}>;

// Now, `frontmatter`, `url`, and other Markdown layout properties
// are accessible with type safety
const { frontmatter, url } = Astro.props;
const initialDate = frontmatter.date ? new Date(frontmatter.date).toLocaleDateString() : '?';
const updatedDate = frontmatter.updated ? new Date(frontmatter.updated).toLocaleDateString() : '?';
const checkedDate = frontmatter.checked ? new Date(frontmatter.checked).toLocaleDateString() : '?';
---
<BaseLayout title={frontmatter.title} url={url}>
	<h1>{frontmatter.title}</h1>
	<div class="versioning">
		{frontmatter.date && <div class="version-first">Publié le : {initialDate}</div>}
		{frontmatter.updated && <div class="version-update">Mis à jour : {updatedDate}</div>}
		{frontmatter.checked && <div class="version-checked">Contenu vérifé le : {checkedDate}</div>}
	</div>
	<slot />
</BaseLayout>
