---
import Layout from '@layouts/BaseLayout.astro';
import { Icon } from 'astro-icon/components';

const { title, mail, agenda, url } = Astro.props;
---
<Layout title={title} url={url}>
	<h1>{title}</h1>
	<h2>Informations</h2>
	<ul>
		<li><Icon name="envelope-at" /> contact : <a href=mailto:{mail}>mailto:{mail}</a></li>
		<li><a href={agenda}><Icon name="calendar-date" /> Agenda des rendus</a></li>
	</ul>
	<slot />
</Layout>
